<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.title} - ${product.description}`;
                productList.appendChild(listItem);
            });
        });
    </script>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
        <li>{{this.title}} - {{this.description}}</li>
        {{/each}}
    </ul>
</body>
</html>
